body{
    /* background-image: url(bg4.png); */
    background-color: #1B3C53;
    background-size: cover;
}

#buttonplay{
    position: relative;
    margin-bottom: 100px;
}

a{
    font-size: 50px;
    font-weight: 600;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #456882 ;
    border: 4px solid black;
    cursor: pointer;   /*new*/
    height: 70px;
    width: 140px;
    border-radius: 15px;
    text-decoration: none;
    color:#F9F3EF;
    position: absolute; /*new*/
    top: 50%;          /*new*/
    left: 44%;        /*new*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#gametxt{
    font-size: 120px;
    position: fixed;
    left: 26.5%;
    top: 6%;
    color: white;
    text-decoration: 1px line-through;
}

#txt-p{
    color: #D2C1B6;
    -webkit-text-stroke: 2px #011604;
}